{% extends 'base/base.html' %}
{% block page_content %}
    <div>THIS IS TEST TEXT</div>
    <div>THIS IS TEST TEXT</div>
    <div>THIS IS TEST TEXT</div>
    <div>THIS IS TEST TEXT</div>
    <div>THIS IS TEST TEXT</div>
    <div>THIS IS TEST TEXT</div>
    <div>THIS IS TEST TEXT</div>
    <div>THIS IS TEST TEXT</div>
    <div>THIS IS TEST TEXT</div>
    <div>THIS IS TEST TEXT</div>
    <div>THIS IS TEST TEXT</div>
    <div>THIS IS TEST TEXT</div>
    <div>THIS IS TEST TEXT</div>
    <div>THIS IS TEST TEXT</div>
    <div>THIS IS TEST TEXT</div>
    <div>THIS IS TEST TEXT</div>
    <div>THIS IS TEST TEXT</div>
{% endblock %}